@charset "UTF-8";

/* :root -> 获取根元素html  只有此处颜色值 和 名字是可以对应的 */
:root {
  --fsr-24px: 1.5rem;
  --fsr-20px: 1.25rem;
  --fsr-18px: 1.125rem;
  --fsr-16px: 1rem;
  --fsr-14px: 0.875rem;
  --fsr-12px: 0.75rem;
  --fsr-10px: 0.625rem;
  --c-000-000-000-100: rgb(0 0 0 / 100%);
  --c-000-000-000-008: rgb(0 0 0 / 8%);
  --c-000-223-002-100: rgb(0 223 2 / 100%);
  --c-026-030-039-100: rgb(26 30 39 / 100%);
  --c-026-030-039-040: rgb(26 30 39 / 40%);
  --c-026-030-039-050: rgb(26 30 39 / 50%);
  --c-034-056-081-100: rgb(34 56 81 / 100%);
  --c-034-056-081-044: rgb(34 56 81 / 44%);
  --c-038-042-049-100: rgb(38 42 49 / 100%);
  --c-043-046-051-100: rgb(43 46 51 / 100%);
  --c-048-049-051-100: rgb(48 49 51 / 100%);
  --c-054-060-069-100: rgb(54 60 69 / 100%);
  --c-064-158-255-007: rgb(64 158 255 / 7%);
  --c-064-158-255-100: rgb(64 158 255 / 100%);
  --c-065-072-083-100: rgb(65 72 83 / 100%);
  --c-074-074-074-100: rgb(74 74 74 / 100%);
  --c-074-074-074-080: rgb(74 74 74 / 80%);
  --c-077-087-101-100: rgb(77 87 101 / 100%);
  --c-100-158-255-100: rgb(100 158 255 / 100%);
  --c-103-103-103-100: rgb(103 103 103 / 100%);
  --c-106-115-125-100: rgb(106 115 125 / 100%);
  --c-148-165-173-100: rgb(148 165 173 / 100%);
  --c-168-171-178-100: rgb(168 171 178 / 100%);
  --c-180-180-180-100: rgb(180 180 180 / 100%);
  --c-180-201-225-100: rgb(180 201 225 / 100%);
  --c-197-197-197-100: rgb(197 197 197 / 100%);
  --c-199-205-213-100: rgb(199 205 213 / 100%);
  --c-206-211-219-068: rgb(206 211 219 / 68%);
  --c-220-220-220-100: rgb(220 220 220 / 100%);
  --c-220-223-230-100: rgb(220 223 230 / 100%);
  --c-230-232-235-100: rgb(230 232 235 / 100%);
  --c-232-234-237-100: rgb(232 234 237 / 100%);
  --c-236-245-255-100: rgb(236 245 255 / 100%);
  --c-236-241-247-100: rgb(236 241 247 / 100%);
  --c-240-242-245-100: rgb(240 242 245 / 100%);
  --c-241-051-013-100: rgb(241 51 13 / 100%);
  --c-241-241-241-100: rgb(241 241 241 / 100%);
  --c-243-243-243-100: rgb(243 243 243 / 100%);
  --c-247-248-250-100: rgb(247 248 250 / 100%);
  --c-250-251-252-100: rgb(255 251 252 / 100%);
  --c-255-127-000-100: rgb(255 127 0 / 100%);
  --c-255-000-000-100: rgb(255 0 0 / 100%);
  --c-255-255-255-100: rgb(255 255 255 / 100%);
  --c-255-255-255-085: rgb(255 255 255 / 85%);
  --c-255-255-255-070: rgb(255 255 255 / 70%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* rem vw/vh */
  width: 100vw;
  margin: 0;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
    sans-serif;

  /* 禁止用户鼠标在页面上选中文字/图片等 */

  /* user-select: none; */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}


a {
  text-decoration: none;
}

input,
textarea {
  outline: none !important;
  box-shadow: none;
  appearance: none; /* 去除系统默认的样式 */
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%); /* 点击高亮的颜色 */
}

input:focus,
input,
textarea:focus {
  outline: none !important;
  box-shadow: none;
  appearance: none; /* 去除系统默认的样式 */
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%); /* 点击高亮的颜色 */
}

button:focus {
  outline: none;
}

/* 滚动条凹槽的颜色，还可以设置边框属性 */
// *::-webkit-scrollbar-track-piece {
//   -webkit-border-radius: 2px;
//   -moz-border-radius: 2px;
//   border-radius: 2px;
// }

/* 滚动条的宽度 */
// *::-webkit-scrollbar {
//   width: 5px;
//   height: 5px;
// }

/* 滚动条的设置 */
// *::-webkit-scrollbar-thumb {
//   background-color: rgba(26,32,44, 0.25);
//   -webkit-border-radius: 2px;
//   -moz-border-radius: 2px;
//   border-radius: 2px;
//   background-clip: padding-box;
// }

/* 滚动条鼠标移上去 */
// *::-webkit-scrollbar-thumb:hover {
//   background-color: rgba(26,32,44, 0.25);
// }
